<!-- <section class="banner-section d-flex justify-content-center align-items-end">
  <div class="section-overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-12">
        <h1 class="text-white mb-lg-0">Login</h1>
        
           <h4 class="text-white mb-lg-0">Welcome to Best Cleaning Service</h4>
      </div>

      <div
        class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto"
      >
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
         

          </ol>
        </nav>
      </div>
    </div>
  </div>
</section> -->

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <style>
            .mycard {
                height: 700px;
            }
        </style>
    </head>
    
    <body>
        <div class="mycard">
            <section class="vh-100">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div id="main-card" class="col col-xl-10">
                            <div class="card shadow-lg" style="border-radius: 1rem;">
                                <div class="row g-0">
                                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                                        <img src="../../../../assets/images/bmw.jpg" alt="login form" class="img-fluid h-100 w-100" style="border-radius: 1rem 0 0 0;" />
                                    </div>
                                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                        <div class="card-body p-4 p-lg-5 text-black">
                                          
                                            <form [formGroup]="loginFormGroup"
                                              (ngSubmit)="onSubmit()">
    
                                                <div class="d-flex align-items-center mb-3 pb-1">
                                                    <i class="fa fa-solid fa-car fa-2x" style="color: #ff6219; font-size: 60px;"></i>
                                                    <span class="h1 fw-bold mb-0">Cars Rent</span>
                                                </div>
    
                                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account
                                                </h5>
    
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="email">Email</label>
                                                    <input type="email" formControlName="email" id="email" placeholder="Enter your email" name="email" class="form-control form-control-lg"/>
                                                    <div
                                                    class="col-md-12 mb-2"
                                                    *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('Email')"
                                                  >
                                                    <div
                                                      *ngFor="
                                                        let missingFieldErrorItem of missingFeildsErrosObject['Email']
                                                      "
                                                      class="alert alert-danger"
                                                    >
                                                      <div>
                                                        {{ missingFieldErrorItem }}
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-12" *ngIf="this.emailFEValidation|| false">
                                                    <div class="alert alert-danger" *ngIf="this.emailFEValidation" >
                                                      <div >
                                                        <div
                                                          *ngIf="
                                                            loginFormGroup.controls['email'].hasError('required')
                                                          "
                                                        >
                                                          email is required
                                                        </div>
                                                        <div
                                                          *ngIf="loginFormGroup.controls['email'].hasError('pattern')"
                                                        >
                                                          email must be in the folowing format example@example.com
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
    
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="password">Password</label>
                                                    <input placeholder="Enter your Password" type="password" formControlName="password" id="password" name="password" class="form-control form-control-lg" />
                                                    <div
                                                    class="col-md-12"
                                                    *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('Password')"
                                                  >
                                                    <div
                                                      *ngFor="
                                                        let missingFieldErrorItem of missingFeildsErrosObject[
                                                          'Password'
                                                        ]
                                                      "
                                                      class="alert alert-danger"
                                                    >
                                                      <div>
                                                        {{ missingFieldErrorItem }}
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <div class="col-md-12" *ngIf="this.passwordFEValidation">
                                                    <div class="alert alert-danger"

                                                    >
                                                      <div *ngIf="this.passwordFEValidation">
                                                        <div
                                                          *ngIf="
                                                            loginFormGroup.controls['password'].hasError('required')
                                                          "
                                                        >
                                                          password is required
                                                        </div>
                                                         <!-- <div
                                                          *ngIf="
                                                            loginFormGroup.controls['password'].hasError('pattern')
                                                          "
                                                        >
                                                          password must be in the folowing format
                                                          <ul class="ps-4">
                                                            <li>At least one upper case English letter</li>
                                                            <li>At least one lower case English letter</li>
                                                            <li>At least one digit</li>
                                                            <li>At least one special character</li>
                                                          </ul>
                                                        </div> - -->
                                                      <!-- </div>-->
                                                    </div>
                                                  </div>
                                                                                      </div> 
    
                                                <div class="pt-1 mb-4">
                                                    <button class="btn btn-dark btn-lg btn-block my-2" type="submit">Login</button>
                                                </div>
    
                                                <a class="small mb-5 text-muted" href='/forgetPassword'>Forgot password?</a>
                                                <p class="mb-3 pb-lg-2" style="color: #393f81;">Don't have an account? <a
                                                        href="#!" style="color: #393f81;" [routerLink]="['/register'] ">Create account</a></p>
                                                      </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    
    </body>
    
    </html>


<!-- 
<section class="contact-section spad">
  <div class="container">
    

      
      <div class="custom-form bg-white shadow-lg my-5 w-75 mx-auto">
        <form
          class="custom-form consulting-form"
          [formGroup]="loginFormGroup"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-lg-12">
              <input
                id="email"
                type="text"
                placeholder="Enter your email"
                formControlName="email"
                class="form-control p-4 mb-3"
              />
            </div>
            <div
              class="col-md-12 mb-2"
              *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('Email')"
            >
              <div
                *ngFor="
                  let missingFieldErrorItem of missingFeildsErrosObject['Email']
                "
                class="alert alert-danger"
              >
                <div>
                  {{ missingFieldErrorItem }}
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="this.emailFEValidation|| false">
              <div class="alert alert-danger" *ngIf="this.emailFEValidation" >
                <div >
                  <div
                    *ngIf="
                      loginFormGroup.controls['email'].hasError('required')
                    "
                  >
                    email is required
                  </div>
                  <div
                    *ngIf="loginFormGroup.controls['email'].hasError('pattern')"
                  >
                    email must be in the folowing format example@example.com
                  </div>
                </div>
              </div>
            </div>

           
            <div class="col-lg-12">
              <input
                type="password"
                placeholder="Enter your Password"
                formControlName="password"
                class="form-control p-4 mb-3"

              />
            </div>
            <div
              class="col-md-12"
              *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('Password')"
            >
              <div
                *ngFor="
                  let missingFieldErrorItem of missingFeildsErrosObject[
                    'Password'
                  ]
                "
                class="alert alert-danger"
              >
                <div>
                  {{ missingFieldErrorItem }}
                </div>
              </div>
            </div>

            <div class="col-md-12" *ngIf="this.passwordFEValidation">
              <div class="alert alert-danger"

              >
                <div *ngIf="this.passwordFEValidation">
                  <div
                    *ngIf="
                      loginFormGroup.controls['password'].hasError('required')
                    "
                  >
                    password is required
                  </div>
                  <!-- <div
                    *ngIf="
                      loginFormGroup.controls['password'].hasError('pattern')
                    "
                  >
                    password must be in the folowing format
                    <ul class="ps-4">
                      <li>At least one upper case English letter</li>
                      <li>At least one lower case English letter</li>
                      <li>At least one digit</li>
                      <li>At least one special character</li>
                    </ul>
                  </div> -->
                <!-- </div>
              </div>
            </div>


            <div class="col-lg-12">
              <button type="submit" class="w-100 mb-3 btn btn-primary py-3 px-5" style="border-radius: 0.9rem;">Login</button>
            </div>

            <div class="d-flex justify-content-end align-items-center my-2">
              <a class="text-decoration-underline text-dark fs-6 "
                href='/forgetPassword'
              >
                Forgot your password?
              </a>
            </div>
          </div>
        </form>
      
        </div>

      
   
  </div>
</section> --> -->